# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.eggs/

# Virtualenv
.venv/
venv/
ENV/

# Poetry
poetry.lock

# VSCode
.vscode/


# Docker
*.log
docker-compose.override.yml

# Arquivos de ambiente
.env
.env.*

# Banco de dados
*.sqlite3
*.db

# PlantUML/Diagramas
*.svg
